
.App {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(135deg, #000000, #262626, #4d4d4d); 
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
}

.container {
    width: 90%;
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@keyframes gradient-animation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

/* Media query for mobile devices */

@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 90%;
        height: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}






