.App {
    font-family: 'Ubuntu', sans-serif;
/*    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
*/
}

body {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-section-size {
    max-width: 960px;
    width: 100%;
}

.custom-card-style {
    width: 300px;
    text-align: center;
    padding-top: 20px;
}

.custom-card-button-style {
    width: 100%;
}

.custom-card-container-style {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

