.features-section-background {
    background-color: #f5f5dc;
}

.features-section-title-container {
    grid-column: 1 / -1;
}

.features-section-title {
    color: #000000;
    font-weight: bold;
}

.features-grid-container {
    display: grid;
/*    grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 960px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    background-color: transparent;
    color: #000000;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    grid-column: 1 / -1;
}

@media (max-width: 600px) {
    .features-grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}