.footer {
  width: 90%;
  max-width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px;
  background-color: transparent;
  color: white;
  bottom: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.copyright {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
}

/* Media query for mobile devices */

@media (max-width: 768px) {
  .footer {
      width: 90%;
      max-width: 90%;
      height: auto;
      margin: 0 auto;
      padding: 0 15px 15px;
  }
}