.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: transparent;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #9F6D36;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 10px;
      background-color: transparent;
      text-align: left;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a:hover {
    background-color: transparent;
    color: #9F6D36;
  }

   .nav-toggle {
      display: block;
  }
}
