.custom-pricing-section-container {
    background-color: azure;
}

.custom-pricing-title {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 25px;
    color: #000000;
    font-weight: bold;
}

.custom-pricing-card {
    width: 300px;
    text-align: center;
}

.custom-pricing-flexbox {
    display: flex;
    max-width: 960px;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 20px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .custom-pricing-flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}